{% extends "personal/header.html" %}
{% include 'base.html' %}
{% load personal_extras %}

{% block content %}
  <div class="col-lg-1"><!-- gutter --></div>
  <div class="col-lg-2">
  <ul class="course-nav">
    <li><a href="">Course Details</a></li>
    <li><a href="#project">Course Projects</a></li>
    {% if user|is_instructor:course %}
    <li><a href="#roster">Student Roster</a></li>
    {% endif %}
    <li><a href="">My Submissions</a></li>
    <li><a href="">Graders</a></li>
  </ul>
</div>

<div class="col-lg-1"><!-- gutter --></div>

<div class="col-lg-8 course-detail">
<h2 style="display:inline-block;">Course: <b>{{ course }}</b></h2>
  <span class="small">[
    <b>{{ course.instructor_username }}</b>
    {% if course.instructor_username.last_name %}
      (Dr. {{ course.instructor_username.last_name }})
    {% endif %}

    {% if course.instructor_username.email %}
      <a href="mailto:{{ course.instructor_username.email }}">
      <span class="glyphicon glyphicon-send"></span>
    </a>
    {% endif %}
    ]
    {% if course|secondary_instructors %}
    <br />
    <ul style="list-style-type: none;">
      <b>Secondary Instructors:</b>
        {% for user in course|secondary_instructors %}
        {% if user.get_user_level_display == "Instructor" %}
          <li>{{ user.username|full_name }}
                {% if user.username.email %}
                  <a href="mailto:{{ user.username.email }}">
                  <span class="glyphicon glyphicon-send"></span>
                </a>
                {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
  </span>

  <hr>
  <b>Course Description</b>:
  {% lorem 1 p %}

  <h3><a name="Projects"></a>Projects ({{ course|assignment_count }})</h3>
  {% if course|assignment_count %}
  <ul>
    {% for assignment in course|get_assignments %}
    <li><a href="{{ assignment.title }}">{{ assignment.title }}</a> -- {{ assignment.due_on }}</li>
    {% endfor %}
  </ul>
  {% else %}
  There are currently no projects assigned for this course.
  {% endif %}

  {% if user|is_instructor:course %}
  <hr>
  <h3><a name="Roster"></a>Roster ({{ course|student_count }})
    {% if user|is_primary_instructor:course %}
    <a href="{% url 'invite_create' course.id %}">+</a>
    {% endif %}
</h3>
  {% if course|roster %}
  <ul>
    {% for user in course|roster %}
    <li>
      <span
      {% if user.get_user_level_display == "Grader" %}
      style="color: rgba(100,100,100,.5); font-weight:bold;"
      {% endif %}
      >
      {{ user.username }} ({{user.get_user_level_display}})
    </span>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  There are currently no users in this course.
  {% endif %}
  {% endif %}
</div>
{% endblock %}
