<!-- Shows a list of courses-->

{% extends "personal/header.html" %}
{% include 'base.html' %}
{% block content %}
{% load personal_extras %}

<hr>
  <div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
  <h1 style="text-align:right;">Your Dashboard
    <sup class="small" style="font-size: .5em; margin: 0% 1%;">
    [{% if request.user|has_group:"Instructor" and user.last_name %}
      Dr. {{ user.last_name }}
    {% elif user.first_name %}
      {{ user.first_name }}
    {% else %}
      {{ user.username }}
    {% endif %}]
  </sup>
  </h1>

  <h2><a name="courses"></a>Your Courses
  {% if request.user|has_group:"Instructor" %}
    <a class="action" href="{% url 'course_create' %}">
    <sup>+</sup>
    </a>

    <div style="float:right; font-size:.5em;">
      <select>
      <option value="sp19">Spring 2019</option>
      <option value="fa18">Fall 2018</option>
      <option value="sp18">Spring 2017</option>
      <option value="fa18">Fall 2017</option>
      </select>
    </div>
  {% endif %}
  </h2>

    {% if course_list %}

        {% for course in course_list %}
        <div class="col-lg-1"></div>
        <div class="course col-lg-5">
          <div class="edit">
            {% if request.user|is_instructor:course %}
            <a class="action" href="{% url 'course_update' course.id %}" alt="Edit course">
              <button type="button" class="btn btn-link btn-sm">
                <span class="align-middle glyphicon glyphicon-cog"></span>
              </btn>
            </a>
            <a class="action" href="#" alt="Backup course">
              <button type="button" class="btn btn-link btn-sm">
                <span class="align-middle glyphicon glyphicon-floppy-save" alt="Download course"></span>
              </btn>
            </a>
            {% endif %}
            <button type="button" class="btn btn-link btn-sm collapsed" data-target="#collapse{{ course.id }}" data-toggle="collapse" aria-expanded>
              <span class="align-middle glyphicon glyphicon-resize-full" alt="Collapse details"></span>
            </btn>
          </div>
            <h3>
              <a href="{{ course.get_absolute_url }}">
                <i>{{ course.course_number }}</i> {{course.course_title}}
                <span class="small">CRN {{course.course_crn}}</span>
              </a>
            </h3>
          <div id="collapse{{ course.id }}" class="collapse">
            <ul class="assignments">
              <li><a href="#">Students ({{ course|student_count }})</a></li>
              <li><a href="#">Graders</a></li>
              <li><a href="#">Projects ({{ course|assignment_count }}) </a>
              {% if course|assignment_count %}
                <a data-toggle="collapse" data-target="#more{{ course.id }}" aria-expanded>
                  <span class="glyphicon glyphicon-search">
                  <sup class="small">(most recent)</sup></span>
                </a>
                <ul id="more{{ course.id }}" class="panel-collapse collapse">
                  {% for assignment in course|top_three_recent_assignments %}
                     <li>
                       <a href="{{ assignment.get_absolute_url }}">
                       {{ assignment.title|truncatechars:"40" }}</a>
                     </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </li>
          </div>
          <br />
            <table class="course-action">
              <tr>
                <td>
                  <ul>
                    <li>
                      <a href="{% url 'course_detail' course.id %}" class="btn btn-info btn-sm">
                      <span class="glyphicon glyphicon-eye-open"></span> View
                      </a>
                    </li>
                    {% if request.user|is_instructor:course %}
                      <li>
                        <a href="{% url 'invite_create' course.id %}" class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-envelope"></span> Invite
                      </a>
                      </li>
                      <li>
                        <a href="{% url 'course_delete' course.id %}" class="important btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-trash"></span> Delete
                        </a>
                      </li>
                    {% endif %}
                  </ul>
                </td>
              </tr>
            </table>
          </div><!-- course col-lg-5 -->
        {% endfor %}

    {% elif request.user|has_group:"Instructor" %}
      <p>You are not set-up as an instructor for any courses.</p>
      <p><a href="{% url 'course_create' %}" class="btn btn-info btn-sm">Create some courses?</a></p>
    {% elif request.user|has_group:"Student" %}
      <p>You are not in any courses currently as a student.</p>
      {% if request.user|has_invites %}
        <p>You have pending invites.</p>
      {% endif %}
    {% else %}
        <p>You are not in any courses currently.</p>
    {% endif %}

</div>
</div>
<hr>

<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">

  <h2><a name="invites"></a>Your Invites
  {% if request.user|has_group:"Instructor" or user.is_staff %}
    <a class="action" href="">
      <sup>+</sup>
    </a>
  {% endif %}
  </h2>

    {% if invite_list %}
        {% for invite in invite_list %}
        <div class="col-lg-1"></div>
        <div class="invite col-lg-5">

        <div class="edit">
        <button class="btn btn-link btn-sm">
          <a href="{% url 'invite_delete' invite.pk %}" class="action">
          <span class="glyphicon glyphicon-trash">
          </span>
          </a>
        </button>
      </div>
        <center>
        <form method="post" style="background: none;">
        <table>
        <tr colspan="2">
          <td>
            <h3>{{ invite.get_level_of_invite_display }} <i>Invite</i></h3>
            <h4>
            <i>{{ invite.course_id.course_number }}</i>
            {{ invite.course_id.course_title }}
          </h4>
          </td>
        </tr></td>
          <td>
            Sent by: <b>{{ invite.sender_username }}</b>
            {% if invite.sender_username|full_name %}
              <small>
                ({{ invite.sender_username|full_name }})
              </small>
            {% endif %}
          </td>
        </tr><tr>
          <td colspan="2">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="hidden" name="invite_name" value="{{invite.id}}">
              <button type="submit" class="btn btn-info btn-sm">Accept Invite & Join Course</button>
          </td>
        </tr><tr>
          <td>
            <small><i>
              Expires on: {{ invite.expires_on }} ({{ invite.time_left }} left)
            </i></small>
          </td>
        </tr>
        </table>
        </form>
      </center>
        </div>
        {% endfor %}
    {% else %}
        <p>You have no open invites to any courses.</p>
    {% endif %}
  </div>
</div>
</div>
{% include "personal/includes/htmlsnippet.html" %}
{% endblock %}
