@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,700,900');

html, body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background-color: rgba(235,235,235,1);
}

.content {
  padding-top: 2%;
}

.course, .course-detail, .login-box, .invite {
  padding: 1%;
  margin: 1%;
  border-radius: 5px 0px 5px 0px;
  border-bottom: 6px rgba(100,100,100,.3) solid;
  border-right: 4px rgba(100,100,100,.3) solid;
}

.course {
  background-color: rgba(255,255,255,.6);
  height: 250px;
  overflow-y: auto;
}

.course a:hover {
  text-decoration: none;
}

.invite {
  padding: 1%;
  border-radius: 5px;
  min-height: 150px;
  background-color: rgba(255,255,255,.7);
}

.invite table {
  text-align: center;
}

.invite-count{
  color: red;
  font-size:12px;
  font-weight: 700;
  position: relative;
  left: -5px;
  top: -7px;
  background-color: rgba(0,0,0,.5);
  border-radius:5px;
}

.action:hover {
  text-decoration: none;
}

.btn {
  border: 0;
}

.edit {
  float: right;
  background-color: rgba(50,50,50,1);
  border: 0;
  border-radius: 15px;
  margin: 0; padding: 0;
}

a.btn, a.btn-info, a.btn-sm {
  background-color: rgba(50,50,50,1);
}

.edit .glyphicon {
  color: #fff;
}

.edit button:hover, .btn-info {
  border-radius: 15px;
}

.course ul {
  list-style-type: none;
  font-size: .9em;
}

.course-nav {
  color: rgba(255,255,255,1);
  list-style-type: none;
  margin: 1% 0%;
  padding: 0;
}

.course-nav a {
  color: rgba(255,255,255,1);
  font-weight: 200;
}

.course-nav li:hover a {
  color: rgba(0,0,0,1);
  font-weight: 700;
}

.course-nav li {
  background-color: rgba(0,0,0,.7);
  border-radius: 5px;
  margin-bottom: 3%;
  padding: 5%;
  width: 100%;
  text-align: center;
}

a {
  font-family: Roboto;
  font-weight: 900;
}

.course-nav li:hover {
  background-color: rgba(255,255,255,.3);
}

.col {
  margin-top: 5px;
}

.login-box {
  background-color: rgba(255,255,255,1);
  position: relative;
  top: 25%;
  left: 33%;
  min-height: 25%;
  height: auto;
  width: 33%;
}

.login-box-container {
    background-color: rgba(0,0,0,.8);
    position: fixed;
    top: 0%;
    left: 0%;
    margin: 0; padding: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0%; left: 0%;
  font-family: Barlow,sans-serif;
  margin: 0; padding: 0;
  background-color: rgba(0,0,0,.8);
  color: #fff;
  border: none;
  border-radius: 0px;
  opacity: 1.0;
  z-index: 5;
}

.navbar a, .navbar a:hover, .course a, .course a:hover {
  font-family: Roboto;
  font-size: 1em;
  font-weight: 700;
}

a.navbar-brand, a.navbar-brand:hover {
  font-size: 1.75em;
}

.course-action {
  list-style-type: none;
  border: none;
  width: 100%;
}

.course-action li {
  color: #fff;
  margin: 0%;
  min-width: 85%;
  display: inline-block;
}

.course-action li a {
  width: 100%;
  padding: 2%;
  border: none;
  float: left;
  color: rgba(188,71,106,1);
  font-weight: 300;
  background-color: rgba(200,200,200,1);
}

.course-detail {
  background-color: rgba(255,255,255,1);
  padding: 2%;
}

.glyphicon {
  color: rgba(138,21,56,1);
}

.navbar .glyphicon {
  color: rgba(200,200,200,1);
}

.btn:hover .glyphicon {
  color: white;
}

.btn:hover {
  background-color: #8a1538;
}

h3 .small {
  font-size: .4em;
  color: rgba(0,0,0,.4);
}

.pin-left {
  position: absolute;
  left: 1%;
  top: 2%;
}

.small {
  color: rgba(0,0,0,.5);
  text-transform: uppercase;
  font-size: .7em;
  font-family: monospace;
}

#small {
  font-size: .5em;
}

h1,h3,h5,h1 a, h3 a, h5 a, h2 a:hover, h4 a:hover, h6 a:hover {
  color: rgba(138,21,56,1);
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

h2,h4,h6,h2 a,h4 a, h6 a,a:hover,h1 a,h3 a,h5 a {
  color: rgba(158,41,76,1);
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

a, a:hover, a:active {
  color: black;
}

.btn.active.focus, .btn.active:focus, .btn.focus,
.btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none;
  box-shadow:none;
}

.btn-info.active.focus, .btn-fino.active:focus, .btn-info.focus,
.btn-info:active.focus, .btn-info:active:focus, .btn-info:focus {
  background-color: rgba(188,71,106,1);
}

h3 a i, h4 i {
  rgba(188,71,106,1);
  font-weight: 300;
}

.important {
  background-color: rgba(50,50,50,.3);
  border-color: rgba(50,50,50,.3);
  border: none;
}

.important:hover {
  background-color: red;
  border-color: red;
}

hr {
  width: 80%;
  border-bottom: 2px rgba(150,150,150,.1) solid;
}

ul.assignments ul {
  background-color: rgba(255,255,255,.5);
}

li a:hover {
  text-decoration: none;
}

form {
  background-color: rgba(150,150,150,.4);
  padding: 1%;
  border-radius: 5px 0px;
}

form input[type=submit], button[type=submit] {
    border-radius: 5px;
    border: none;
    color: rgba(255,255,255,1);
    background-color: rgba(138,21,56,1);
    margin: 1% 0% 0% 0%;
    font-weight: bold;
}

form input[type=submit]:hover {
  color: rgba(0,0,0,1);
  background-color: rgba(255,255,255,1);
}

form p label {
  width: 25%;
}

form p input {
  width: 70%;
  padding: 10px;
  margin: 5px;
}

select, form input[type=text], form input[type=number],
form input[type=password] {
  border: none;
  background-color: rgba(255,255,255,.7);
  border-radius: 15px;
  padding: 0px 10px;
}

select:focus, form input[type=text]:focus, form input[type=number]:focus,
form input[type=password]:focus {
  background-color: white;
  border: 0;
  transition: ease-in-out, background-color, width .75s ease-in-out;
  outline: none;
  font-weight:bold;
  box-shadow:none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(138,21,56,1);
}
